@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *,WebProgramlama

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="text-center">Çok yakında daha güzel bir şekilde karşınızda olucaz! Sabrınızdan ötürü teşekkür ederiz.</p>
    <email display="hello" mail="mfth78@hotmail.com"></email>
</div>
