<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] AllEyezOnUs- WebProgramlama</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebProgramlama.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar bg-dark px-2 sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img
                        src="img/logo.jpeg"
                        alt=""
                        width="45"
                        height="45"
                        class="d-inline-block align-text-top"
                    />
                    <span class="pt-4 text-white">
                        AllEyezOnUs
                    </span>
                </a>

             

                <ul class="navbar-nav mr-auto justify-content-end">
                <li class="nav-item">
                    <a class="nav-link text-white" href="/Login">Login</a>
                </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - AllEyezOnUs 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
